body, html {
    height: 100%;
  }
.bg {
    background-image: url("./header-bg.png");
    height:80vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section{
    height:33vh;
}
.cta{
    background:#00AEEF;
    color:1E1E1E;
    font-family: 'Kanit', sans-serif;
    font-size:4rem;
}